<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DGXSettings.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DGXSettings.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <DGXSettings.Properties.Settings>
            <setting name="username" serializeAs="String">
                <value />
            </setting>
            <setting name="password" serializeAs="String">
                <value />
            </setting>
            <setting name="geoDatabase" serializeAs="String">
                <value />
            </setting>
            <setting name="sma_time" serializeAs="String">
                <value />
            </setting>
            <setting name="sma_date_from" serializeAs="String">
                <value />
            </setting>
            <setting name="sma_date_to" serializeAs="String">
                <value />
            </setting>
            <setting name="sma_query_limit" serializeAs="String">
                <value />
            </setting>
            <setting name="baseUrl" serializeAs="String">
                <value />
            </setting>
            <setting name="GbdOrders" serializeAs="String">
                <value>gbdOrders</value>
            </setting>
        </DGXSettings.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <DGXSettings.Properties.Settings>
            <setting name="orbit" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="authenticationServer" serializeAs="String">
                <value>/cas/oauth/token</value>
            </setting>
            <setting name="StagingUrl" serializeAs="String">
                <value>/insight-vector</value>
            </setting>
            <setting name="DefaultBaseUrl" serializeAs="String">
                <value>https://iipbeta.digitalglobe.com</value>
            </setting>
            <setting name="logfile" serializeAs="String">
                <value>\DGX\DGX.log</value>
            </setting>
            <setting name="casTicket" serializeAs="String">
                <value>/cas/v1/tickets</value>
            </setting>
            <setting name="casAuth" serializeAs="String">
                <value>/monocle-3/j_spring_cas_security_check</value>
            </setting>
            <setting name="casBase" serializeAs="String">
                <value>/monocle-3</value>
            </setting>
            <setting name="GbdSearchPath" serializeAs="String">
                <value>/raster-catalog/api/gbd/catalog/v1/search</value>
            </setting>
        </DGXSettings.Properties.Settings>
    </applicationSettings>
</configuration>